.dashboard-layout {
  background: url('/images/ISS.jpg');
  background-size: cover;
  height: 100vh;
  width: 100vw;
  color: white;
  text-align: center;
}
.dashboard-layout h1 {
  letter-spacing: 0.2em;
}