.notes-layout {
  display: flex;
  flex-direction: column;
  background: url('/images/corkboard.jpg');
  height: 100vh;
  width: 100vw;
  background-size: cover;
}

.notes-layout h1 {
  letter-spacing: 0.2em;
  color: white;
  text-align: center;
}

.notes-layout a{
  color: white;
}

.notes-layout p {
  color:white;
}
.notes-header-navbar {
  display: flex;
  flex-direction: column;
}
.note-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}