.quotesideas-layout {
  background: url('/images/road.jpg');
  background-size: cover;
  width: 100vw;
}
.quotesideas-layout h1 {
  text-align: center;
  color: white;
  letter-spacing: 0.2em; 
  padding-top: 0.5em;
  margin-top: 0;
}

.quotesideas-layout h2 {
  color:white;
  text-align: center; 
}

.quotesideas-layout h4 {
  text-align: center;
  color:white;
}

#create-idea-link {
  color: white;
  font-weight: 800;
  font-size: 1.3em
}