.quotesideas-layout {
  display: flex;
  flex-direction: column;
  background: url('/images/road.jpg');
  background-size: cover;
  width: 100vw;
}
.quotesideas-layout h1 {
  text-align: center;
  color: white;
  letter-spacing: 0.2em; 
  padding-top: 0.5em;
  margin-top: 0;
}

.quotesideas-layout h2 {
  color:white;
  text-align: center; 
}

.quotesideas-layout h4 {
  text-align: center;
  color:white;
}

#create-idea-link {
  color: white;
  font-weight: 700;
  font-size: 1.1em
}

.add-idea-page {
  background-color:lightseagreen;
}

.ideas-quotes {
  display: flex;

}
.ideas {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ideas h3 {
  color: white;
  font-size: 2em;
}

.quotes {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quotes h3 {
  color: white;
  font-size: 2em;

}
.quotes a {
  color: white;
  font-weight: 700;
  font-size: 1.1em
}