html {
  font-size: 62.5%; 
  margin: 0 auto;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;  
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}
.station {
  height: 1200px;
  background-image: url(https://cdn.mos.cms.futurecdn.net/Q8U3LcsBLsXX9mYksBx5eV.jpg) ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
 
}
.station a {
  color: white;
}
.station h1 {
  text-align: center;
  padding-top: 20px;
}
.light {
  background-image: url(https://www.photohdx.com/images/2016/09/green-blurry-background.jpg);
  background-size: cover;
  background-position: center;
  color: white;
}
.light a {
  color: white;
}